<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/codeception/bin/_bootstrap.php" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor/*</directory>
                <directory>./node_modules/*</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit> 