h1{
    margin-bottom: 50px;
    border: 1px solid black;
}
#field{
    width: 320px;
    height: 320px;
    box-sizing: content-box;
    border: 1px solid black;
}

#field::after{
    content: "";
    display: none;
    clear: both;
}

.chess-block{
    width: 40px;
    height: 40px;
    float: left;
}
.bg-black{
    background: #525252;
}
.active{
    background-color: orange;
    background-size: contain;
    background-image: url("../images/chess_knight.svg");
}

.green{
    background: green;
}