* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #603894;
}

.hide-on-mobile {
    display: inline;
}

@media screen and (max-width : 500px) {
    .hide-on-mobile {
        visibility: hidden;
        display: none;
    }
}

span {
    position: relative;
    top: -5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    width: 100%;
    flex: 0 0 auto;
    background: #55377C;
    color: #FFFFFF;
}
.footer a{
    color:#fff;
    font-style: italic;
    font-weight: bold;
}


#chess h1 {
    margin-bottom: 50px;
    border: 1px solid black;
}

#chess #field {
    width: 320px;
    height: 320px;
    box-sizing: content-box;
    border: 1px solid black;
}

#chess #field::after {
    content: "";
    display: none;
    clear: both;
}

#chess .chess-block {
    width: 40px;
    height: 40px;
    float: left;
}

#chess .bg-black {
    background: #525252;
}

#chess .chess-block.active {
    background-color: orange;
    background-size: contain;
    background-image: url("../images/chess_knight.svg");
}

#chess .green {
    background: green;
}

#flappy canvas {
    width: 288px;
    height: 512px;
    border: 5.6px solid black;
    margin: 60px auto;
}

#life #c1 {
    width: 400px;
    height: 400px;
    border: 3px black solid;
}

#main-panel {
    margin-top: 40px;
    min-height: 90%
}

.eye1{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 3px solid #fff;
    float: left;
    position: relative;
}

.eyeball1{
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    left: 18px;
    bottom: 9px;
    border-radius: 100%;
}

.eye2{
   width: 35px;
   height: 35px;
   border-radius: 100%;
   border: 3px solid #fff;
   float: left;
   position: relative;
}

.eyeball2{
   width: 13px;
   height: 13px;
   background: #fff;
   position: absolute;
   left: 18px;
   bottom: 9px;
   border-radius: 100%;
}